.groups {
  text-align: center;
  margin: 10px auto;
  padding: 5px;
}

.piano {
  margin: auto;
}

#defaultsong,
#submitFile {
  padding: 10px;
}

#textarea {
  width: 250px;
  display: block;
  margin: auto;
}

.paras {
  padding: 10px;
}

div {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

/* for components not on top bar */
li {
  font-weight: 600;
  display: inline;
  border: 5px;
  text-align: right;
}

li a {
  text-decoration: none;
  padding: 10px;
  color: black;
  border-radius: 5px;
  transition: background-color 0.5s, color 0.5s;
}

li a:hover {
  background-color: #1565c0;
  color: white;
  border-radius: 5px;
}

/* each topbar component */
li.topbar a {
  font-weight: 700;
  width: 50px;
  padding: 20px;
}

li.topbar a:hover {
  background-color: #555;
}

ul.topbar {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  background-color: grey;
  text-align: right;
}

.page {
  position: absolute;
  left: 15px;
  right: 15px;
}

.page-enter {
  opacity: 0;
  transform: scale(1.1);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

/* tutorial from https://css-tricks.com/how-to-create-an-animated-countdown-timer-with-html-css-and-javascript/ */
.base-timer {
  position: relative;
  height: 300px;
  width: 300px;
  display: block;
  margin: auto;
}

.base-timer__svg {
  /* Flips the svg and makes the animation to move left-to-right */
  transform: scaleX(-1);
}

/* Removes SVG styling that would hide the time label */
.base-timer__circle {
  fill: none;
  stroke: none;
}

/* The SVG path that displays the timer's progress */
.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__label {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: rgb(68, 183, 137);
}
