body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#midiload {
  display: block;
  margin: 5px auto;
  padding: 5px;
  height: 100px;
}

.groups {
  text-align: center;
  margin: 10px auto;
  padding: 5px;
}

#defaultsong,
#submitFile {
  padding: 5px;
  margin: 15px;
}

#textarea {
  width: 150px;
  display: block;
  margin: auto;
}

.paras {
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

/* for components not on top bar */
li {
  font-weight: 600;
  display: inline;
  border: 5px;
  text-align: right;
}

li a {
  text-decoration: none;
  padding: 10px;
  color: black;
  transition: background-color 0.5s, color 0.5s;
}

/* each topbar component */
li.topbar a {
  font-weight: 700;
  width: 50px;
  padding: 20px;
}

li a:hover {
  background-color: rgb(117, 117, 218);
  color: white;
}

li.topbar a:hover {
  background-color: #555;
}

ul.topbar {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  background-color: grey;
  text-align: right;
}

.page {
  position: absolute;
  left: 15px;
  right: 15px;
}

.page-enter {
  opacity: 0;
  transform: scale(1.1);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
