body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#midiload {
  display: block;
  margin: 5px auto;
  padding: 5px;
  height: 100px;
}

.groups {
  text-align: center;
  margin: 10px auto;
  padding: 5px;
}

#defaultsong,
#submitFile {
  padding: 5px;
  margin: 15px;
}

#textarea {
  width: 150px;
  display: block;
  margin: auto;
}

.paras {
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

li {
  display: inline;
  border: none;
  text-align: right;
}

li a {
  text-decoration: none;
  padding: 15px;
  color: black;
  transition: background-color 0.5s, color 0.5s;
}

li a:hover {
  background-color: #555;
  color: white;
}
