ul.topbar {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  background-color: grey;
  text-align: right;
}

li.topbar {
  display: inline;
  border: none;
  text-align: right;
}

/* each component */
li.topbar a {
  font-weight: 700;
  text-decoration: none;
  width: 50px;
  padding: 20px;
  color: black;
  transition: background-color 0.5s, color 0.5s;
}

li.topbar a:hover {
  background-color: #555;
  color: white;
}
